<footer class="bg-dark text-white fixed-bottom">
  <div class="row text-center">
    <a
      mdbRipple
      class="btn btn-outline-light btn-floating m-1"
      href="https://github.com/rafaelmarcolino22/Animex"
      role="button"
      >Link do Projeto</a
    >
    <p class="text-center">Projeto desenvolvido por</p>
    <div class="col-sm">
      <p>
        Bruno Muniz Belo
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/bmbelo87"
        >
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>

    <div class="col-sm">
      <p>
        Bianca Bispo
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/BiancaBispo"
        >
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>

    <div class="col-sm">
      <p>
        Rafael Reinaldo Marcolino
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/rafaelmarcolino22"
        >
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
</footer>
