  #button{
    width: 100%;
    padding: 5px;
  }

  h2{
    text-align: center;
  }

  /*Imagem Home*/
  .carousel-item{
    height: 800px;
    display: flex;
    align-items: center;
  }

  .carousel-image{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4));
    background: url('../../../assets/img/1.jpg') fixed;
  }

  .carousel-caption {
    position: absolute;
    bottom: 25rem;
  }


  
  .title-color{
    color: #fff;
    background-position: auto;
  }
  .btn-color{
    background: #000;
    color: rgb(190, 190, 190);
  }
  .btn-color:hover{
    color:#fff;
  }
  
  .btn-color-news{
    background: rgb(133, 133, 133);
    color: rgb(53, 53, 53);
  }
  .btn-color-news:hover{
    color:#fff;
  }
  