  #button{
    width: 100%;
    padding: 5px;
  }

  h2{
    text-align: center;
  }

  .container {
    text-shadow: 3px 3px 4px #000000;
  }
  
  /*Imagem Home*/
  .carousel-item{
    height: 800px;
    display: flex;
    align-items: center;
  }

  .carousel-image{
    background: url('../../../assets/img/1.jpg') fixed;
  }

  .carousel-caption {
    position: absolute;
    top: 15em;
  }


  
  .title-color{
    color: #fff;
    background-position: auto;
  }

