#mini-banners{
    border: 0px solid;
    margin-bottom: 4em;
    margin: auto;

  }
  
  
  #mini-banners h3{
    color: rgb(12, 15, 15);
    text-align: center;
  }

  #mini-banners p{
    color: rgb(22, 24, 24);
    text-align: center;
    font-size: 20;
    text-align: center;
  }

/* .card-body1{
    background-image: url("../../../assets/img/naruto.jpg");
  } */


  
  #mini-banners i{
    font-size: 4em;
  }
  
  #mini-banners .card-title{
    margin-bottom: 1.5em;
  }
  
  #mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6, 1.2em;
  }
  
  #button{
    width: 100%;
    padding: 5px;
  }

  h2{
    text-align: center;
  }

  
  /*Imagem Home*/
  .item{
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .image{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)),
    url('../../../assets/img/1.jpg');
    background-size: cover;
  }
  
  .title-color{
    color: #fff;
    background-position: auto;
  }

