<!--Imagem Home-->
<section id="inicio" >
  <div class="carousel-item carousel-image">
      <div class="container">
          <div class="carousel-caption d-sm-block text-right mb-4">
              <h1 class="display-3 title-color ">{{ nomeProjeto }}</h1>
              <p class="lead"> {{ tituloComp }}</p> <br><br>
              <a href="#" class="btn btn-color slide-btn btn-lg">Descubra</a>
          </div>
      </div>
  </div>
</section>

<!--Cards
<div class="container-fluid">
  <div class="row">
    <div class=" col-md-3 offset-md-1 " *ngFor="let a of listaAnimes" id="mini-banners">    
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/naruto2.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h2 class="card-title">{{a.name}}</h2>
            <p class="card-text">{{a.type}}</p>
            <p class="card-text">{{a.years}}</p>
            <p class="card-text">{{a.author}}</p>

            <a id="button" routerLink = "/anime-create" class="btn btn-primary">Cadastrar</a>
          </div>
        </div>
    </div>        
  </div>       
</div>
-->




  
  
        



