<nav class="navbar navbar-light bg-dark p-1 px-md-4 shadow-sm fixed-top">
  <div class="container-fluid">
    <!--<h3 class="navbar-brand">Animex</h3>-->

    <nav class="menu">
      <a href="">
        <img
          class="card-img-top logo"
          id="logo"
          src="../../../assets/img/logo.png"
          alt="Imagem de capa do card"
      /></a>
      <h4 style="color: white">Animex</h4>
    </nav>

    <div class="d-flex w-auto">
      <button class="btn btn-outline-secondary m-2" routerLink="/home">
        Home
      </button>
      <button class="btn btn-outline-secondary m-2" routerLink="/anime-create">
        Incluir Anime
      </button>
      <button class="btn btn-outline-secondary m-2" routerLink="/anime-list">
        Listar Anime
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--Footer-->
<footer class="bg-dark text-center text-white">
  <div class="container p-1">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Animex</h5>
        <!-- Github -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/rafaelmarcolino22/Animex"
          role="button"
        >
          <i class="fa fa-github"></i>
        </a>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Projeto realizado:</h5>
        <p>Bruno Muniz Belo</p>
        <p>Bianca Bispo</p>
        <p>Rafael Reinaldo Marcolino</p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
</footer>
