<nav class="navbar bg-dark p-1 px-md-4 shadow-sm">
  <div class="container-fluid">
    <!--<h3 class="navbar-brand">Animex</h3>-->

    <img
      class="card-img-top logo"
      id="logo"
      src="../../../assets/img/logo.png"
      alt="Imagem de capa do card"
    />

    <!--<h4 style="color: white">Animex</h4>-->

    <div class="d-flex w-auto">
      <button class="btn btn-outline-secondary m-2" routerLink="/home">
        Home
      </button>
      <button class="btn btn-outline-secondary m-2" routerLink="/anime-create">
        Incluir Anime
      </button>
      <button class="btn btn-outline-secondary m-2" routerLink="/anime-list">
        Listar Anime
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--Footer

-->
<app-footer></app-footer>
