<div class="d-flex flex-column flex-md-row align-items p-2 px-md-5 mb-5 bg-white border-bottom shadow-sm ">
    
  <nav class="navbar navbar-dark  ">

      <a class="navbar-brand disabled">Animex</a>
      <a class="btn btn-outline-primary" routerLink = "/home">Home</a>
      <a class="btn btn-outline-primary" routerLink = "/anime-create">Incluir Anime</a>
      <a class="btn btn-outline-primary" routerLink = "/anime-list">Listar Anime</a>
  </nav>
  
</div>



<!--<div class="container">
  <h4 class="text-center">Cadastro de Animes</h4>
  <nav class="text-center">
    <button class="btn btn-secondary btn-block" routerLink="/home">Home</button>
    <button class="btn btn-secondary btn-block" routerLink="/anime-create">
      Incluir Anime
    </button>
    <button class="btn btn-secondary btn-block" routerLink="/anime-list">
      Listar Anime
    </button>
  </nav>
</div>-->
<!--

  <div class="col-12 col-md-10 offset-md-1" id="mini-banners">
  <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-center">
                <i class="bi bi-box primary-color"></i>
                <div class="card-body">
                    <h5 class="card-title primary-color"> Projetos completos </h5>
                    <p class="card-text secondary-color">
                                        
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in quia, facilis non quasi, mollitia magni id quas dignissimos nam cupiditate molestias doloremque optio est quae debitis voluptatum blanditiis impedit?
                        </p>
                        <a href="#" class="btn btn-dark">Saber mais</a>
                        
                    </div>

                </div>
            </div>
  </div>
</div>

-->


<router-outlet></router-outlet>

