a,
a:visited,
a:hover {
  text-decoration: none;
}

#logo{
  height: 50px;
  width: 80px;
  border-radius: 100%;
  opacity: .4;

}

.menu h4{
  font-family: 'EB Garamond', serif;
}


/*footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  position: relative;
  bottom: 0;
}

footer a {
  display: flex;
  align-items: center;
}
*/