<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">{{ tituloComp }}</h3>
    <form
      class="was-validated"
      id="animeForm"
      #animeForm="ngForm"
      (ngSubmit)="inserirAnimes(animeForm)"
    >
      <div class="form-group row">
        <input
          type="text"
          #name="ngModel"
          name="name"
          [(ngModel)]="dadosAnime.name"
          placeholder="Informe o nome do anime"
          class="form-control"
          required
        />
        <div [hidden]="name.valid" class="text-danger">
          Nome do Anime é necessário.
        </div>
      </div>
      <div class="form-group row">
        <input
          type="text"
          #type="ngModel"
          name="type"
          [(ngModel)]="dadosAnime.type"
          placeholder="Informe o estilo do anime"
          class="form-control"
          required
        />
      </div>
      <div [hidden]="type.valid" class="text-danger">
        Estilo do Anime é necessário.
      </div>
      <div class="form-group row">
        <input
          type="text"
          #years="ngModel"
          name="years"
          [(ngModel)]="dadosAnime.years"
          placeholder="Informe o ano do anime"
          class="form-control"
          minlength="4"
          maxlength="4"
          required
        />
        <div [hidden]="years.valid" class="text-danger">
          Obrigatório o ano do anime ter 4 digitos.
        </div>
      </div>
      <div class="form-group row">
        <input
          type="text"
          #author="ngModel"
          name="author"
          [(ngModel)]="dadosAnime.author"
          placeholder="Informe o nome do Autor do anime"
          class="form-control"
          required
        />
        <div [hidden]="author.valid" class="text-danger">
          Autor do Anime é necessário.
        </div>
      </div>

      <!--Botão-->
      <div class="form-group text-end">
        <button
          type="submit"
          class="btn btn-success btn-large btn-block"
          [disabled]="!animeForm.valid"
        >
          Inserir Anime
        </button>

        <button
          class="btn btn-secondary btn-large btn-block"
          (click)="onClickCancel()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
