/* You can add global styles to this file, and also import other style files */

.custom-container {
    max-width: 800px;
}


.form-group {
    padding-top: 10px;
}

 
.navbar{

    border-bottom: 1px solid rgb(190, 173, 173);
  }


footer{

    border-top: 1px solid rgb(158, 151, 151);

}

button{
    margin: 4px;
}